body {
    font-family: arial;
    margin-bottom: 500px;
}

.btn {
    margin-bottom: 10px;
}

table {
    border-right: 2px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}

.day-header {
    border: 1px solid gray;
    white-space: nowrap;
}

.hour-cell:hover > div {
    background-color: #559 !important;
    color: white;
}

.hour-cell {
    width: 120px;
    text-align: center;
    border-left: 1px solid gray;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    height: 30px;
    padding: 0;
}

.hour-cell > div {
  height: 100%;
}

.hour-cell .time {
  padding-top: 8px; /* poor man's vertical centering */
  color: #555;
}

.hour-cell .searching {
    color: #88d;
    font-size: 12px;
    padding-top: 12px; /* poor man's vertical centering */
}

.hour-cell .result-label {
  font-size: 10px;
}

.hour-cell .good-results {
  color: #090;
  background: #efffef;
}

.hour-cell .weak-results {
  color: orange;
  background: #ffffef;
}

.hour-cell .bad-results {
  color: red;
  background: #ffefef;
}
